%center  
  %h1 All Tweets
  - if @tweets.any?
    %table{border: "1"}
      %tr
        %th Content
        %th Tweet
        
      = render @tweets
  - else
    %em No Hay ningun user agregado
            
    