- if tweets.any?
  %h2 Tweets

  %table{border:"1"}
    %tr
      %th Tweet
      %th Fecha de Creacion
    %tr
    = render tweets
    %tr

  %br
  %br
- else
  %em Aun no tiene Tweets
  %br
  %br
  %br