

= form_for @user do |f|
  %table{id:"rounded-corner",border: "1"}
    %thead
      %tr
        %th Tweet
    %tbody
      = f.fields_for :tweets do |fb|
        %tr
          %td= fb.text_field :content, class: "form_input"
  %br
  = f.submit class: "form_submit"