

= form_for @user do |u|
  %table{id:"rounded-corner",border: "1"}
    %thead
      %tr
        %th Tweet
    %tbody
      = u.fields_for :tweets do |tw|
        %tr
          %td= tw.text_field :content, class: "form_input"
  %br
  = u.submit class: "form_submit"