%center
	
	%br
	%h1 Unete a nuestra red, por ahora tenemos #{@users.count} usuarios activos!
	%br
	#box
		%h2 
			PLEASE
			=link_to 'SIGN UP ', new_user_path ,:style => "font-weight:bold; color:#C4DA64;"
			NOW!

		
