%center
	
	%br
	%h1 Unete a nuestra red, por ahora tenemos #{@users.count} usuarios activos!
	%br
	#box
		%h2 
			Please
			%span{:style => "font-weight:bold; color:#C4DA64;"} sign up
			=link_to 'HERE', new_user_path 

	=link_to 'SEE ALL TWEETS HERE', tweets_path 


		
